body{
    width: 100vw;
    height: 100vh;
    border-top: 0.5vw solid;
    border-top-color: #1DB954;
    margin: 0;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, minmax(0px, auto));
    grid-template-areas: 
    "header"
    "sidebar"
    "section"
    "main"
    "footer";
}

.textoprincipal{
    z-index:1;
}

header{
    align-items: center;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: header;
    height: 58vw;
    justify-content: space-evenly;
    width: 100vw;
}

header .it-header p:nth-child(1){
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 70pt;
}

header .it-header p:nth-child(2){
    color: white;
    font-family: sans-serif;
    font-size: 20pt;
    line-height: 1.5;
}

span{
    color: #1DB954;
}

.hand-header{
    margin: 0;
}

.hand-header img{
    width: 42vw;
    padding: 10vw 0 0 0;
    z-index:0;
}

.it-header{
    padding: 5vw 0 10vw 3vw;
    width: 30vw;
    height: auto;
}

.icones-header{
    display: flex;
    justify-content: space-around;
}

.icone-ios, .icone-android, .icone-windows{
    background-color: black;
    border: 0.5vw solid black;
    border-radius: 100%;
    opacity: 0.5;
    padding: 1vw;
}

.icone-ios img, .icone-android img, .icone-windows img{
    align-items: center;
    justify-content: center;
    width: 2vw;
}

.icone-ios:hover, .icone-android:hover, .icone-windows:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

aside{
    margin: 0 13vw 0 13vw;
}

.sidebar{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: sidebar;
    height: 30vh;
    justify-content: center;
}

.sidebar-icones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-icones img{
    background-color: #1DB954;
    border-radius: 100%;
    display: flex;
    padding: 1vw;
    width: 1.5vw;
}

.sidebar-c1, .sidebar-c2, .sidebar-c3 {
    text-align: center;
}

.sidebar-c1 p:nth-child(2), .sidebar-c2 p:nth-child(2), .sidebar-c3 p:nth-child(2){
    font-family: sans-serif;
    font-size: 14pt;
}

.sidebar-c1 p:nth-child(3), .sidebar-c2 p:nth-child(3), .sidebar-c3 p:nth-child(3){
    color: rgb(152, 160, 168);
    font-family: sans-serif;
    font-size: 11pt;
    line-height: 1.8;
    padding: 0 5px 0 5px;
}

section p:nth-child(1){
    font-size: 14pt;
}

section p:nth-child(2){
    font-size: 11pt;
    line-height: 1.8;
    color: rgb(152, 160, 168);
}

.section{
    grid-area: section;
    background-color: rgb(224, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 5vw 5vw 5vw;
    height: 24vw;
    width: 100%;
    font-family: sans-serif;
}

.notificacao{
    width: 40vw;
    height: auto;
    padding: 0 2vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs{
    display: flex;
}

.inputs [type=text] {
    padding: 12px;
    width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; 
    border: 1px solid rgb(224, 222, 222);
    font-size: 12pt;
}

.inputs [type=text]:hover{
    border: 1px solid #1DB954;
}

.inputs button{
    padding: 10px;
    width: 100px;
    background-color: #1DB954;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14pt;
    font-weight: 500;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.video{
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-transform: rotate(0.000001deg); 
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px;
    border-radius: 8px; 
    overflow: hidden; 
    width: 50%;
    height: auto;
}

footer{
    grid-area: footer;
    background-color: rgb(224, 222, 222);
    width: 100%;   
    display: flex;
    justify-content: center;
    height: auto;
}

.contact{
    height: 90px;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.contact a{
    text-decoration: none;  
    color: rgb(152, 160, 168);
    font-family: sans-serif;
    font-size: 11pt;
}

.contact a:hover{
    color: #1DB954;
}

main{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: main;
    height: auto;
    justify-content: space-around;
    height: 41vw;
}

main .section-conteudo{
    text-align: center;
    width: 900px;
}

main p:nth-child(1), main p:nth-child(5){
    color: rgb(152, 160, 168);
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 1.5
}

main p:nth-child(2){
    font-family: sans-serif;
    font-size: 11pt;
}

main .section-img{
    display: flex;
    justify-content: space-around;
    padding: 0vw;
}

main .section-img2{
    background-color: #1DB954;
    height: 48px;
    width: 48px;
}

main .section-img img{
    height: 100%;
}

main .section-img img:hover{
    opacity: 0.5;
    cursor: pointer;
}

main p:nth-child(4){
    font-family: sans-serif;
    font-size: 18pt;
    padding: 20px 0 0 0;
}

main .section-icons{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main .section-icons2{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.icon-twitter, .icon-facebook, .icon-pinterest, .icon-google, .icon-linkedin, .icon-yt{
    background-color: darkgrey;
    border: 1px solid darkgray;
    border-radius: 100%;
    display: flex;
    height: 50%;
    padding: 1vw;
}

.icon-twitter img, .icon-facebook img, .icon-pinterest img, .icon-google img, .icon-linkedin img, .icon-yt img{
    height: 2vw;
    align-items: center;
    justify-content: center;
    width: 2vw;
}

.icon-twitter:hover, .icon-facebook:hover, .icon-pinterest:hover, .icon-google:hover, .icon-linkedin:hover, .icon-yt:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1100px) {
    section{
         

    }
    .section{
        
        display: flex;
        flex-direction: column;
    }
    .texto{
        width: 80vw;
    }
    .video{
        width: 95vw;
        
    }
}