body{
    margin: 8px 0px 0px 0px;
    width: 100vw;
    height: 100vw;
    background-color: #1DB954;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas: 
    "header header header header header"
    "sidebar sidebar sidebar sidebar sidebar"
    "section section section section section"
    "footer footer footer footer footer";
    /* "main main main main" */
    
}

header{
    align-items: center;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: header;
    height: 400px;
    justify-content: space-evenly;
    padding: 0 10px;
    width: 100%;
}

header .it-header p:nth-child(1){
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 28pt;
}

header .it-header p:nth-child(2){
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.5;
}

span{
    color: #1DB954;
}

.hand-header{
    margin: 0;
    height: 100%;
}

.hand-header img{
    height: 85%;
    padding: 60px 0 0 0;
}

.it-header{
    height: 100%;
    padding: 80px 0 0 0;
    width: 350px;
}

.icones-header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icone-ios, .icone-android, .icone-windows{
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    height: 50%;
    opacity: 0.5;
    padding: 10px;
}

.icone-ios img, .icone-android img, .icone-windows img{
    height: 20px;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.icone-ios:hover, .icone-android:hover, .icone-windows:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

.sidebar{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: sidebar;
    height: auto;
    justify-content: space-around;
    padding: 50px 70px;
    width: 100%;
}

.sidebar-icones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-icones img{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 100%;
    display: flex;
    height: 25%;
    padding: 10px;
}


.sidebar-c1, .sidebar-c2, .sidebar-c3 {
    text-align: center;
    height: 150px;
    width: 290px;
}

.sidebar-c1 p:nth-child(2), .sidebar-c2 p:nth-child(2), .sidebar-c3 p:nth-child(2){
    font-family: sans-serif;
    font-size: 14pt;
}

.sidebar-c1 p:nth-child(3), .sidebar-c2 p:nth-child(3), .sidebar-c3 p:nth-child(3){
    color: rgb(152, 160, 168);
    font-family: sans-serif;
    font-size: 11pt;
    line-height: 1.8;
}

/* main{
    grid-area: main;
    background-color: green;
}

section{
    grid-area: section;
    background-color: red;
}

footer{
    grid-area: footer;
    background-color: blue;
} */

section p:nth-child(1){
    font-size: 14pt;
}

section p:nth-child(2){
    font-size: 11pt;
    line-height: 1.8;
    color: rgb(152, 160, 168);
}

.section{
    grid-area: section;
    background-color: rgb(224, 222, 222);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    padding: 50px 76px;
    height: auto;
    font-family: sans-serif;
}

.notificacao{
    width: 40vw;
    height: 300px;
}

.inputs{
    display: flex;
}

.inputs [type=text] {
    padding: 12px;
    width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; 
    border: 1px solid rgb(224, 222, 222);   
}

.inputs [type=text]:hover{
    border: 1px solid #1DB954;
}

.inputs button{
    padding: 10px;
    width: 100px;
    background-color: #1DB954;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14pt;
    font-weight: 500;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.video{
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-transform: rotate(0.000001deg); 
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px;
    border-radius: 8px; 
    overflow: hidden; 
}

footer{
    grid-area: footer;
    background-color: rgb(224, 222, 222);
    width: 100%;   
    display: flex;
    justify-content: center;
}

.contact{
    height: 90px;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.contact a{
    text-decoration: none;  
    color: rgb(152, 160, 168);
    font-family: sans-serif;
    font-size: 11pt;
}

.contact a:hover{
    color: #1DB954;
}